config global 'global'
	option enable '1'
	option auto_update '1'
	option update_interval '24'
	option log_blocked '1'
	option action 'drop'

config source 'abuse_ch_ip'
	option enable '1'
	option name 'Abuse.ch Feodo Tracker'
	option type 'ip'
	option url 'https://feodotracker.abuse.ch/downloads/ipblocklist.txt'
	option format 'plain'

config source 'abuse_ch_domain'
	option enable '1'
	option name 'Abuse.ch URLhaus'
	option type 'domain'
	option url 'https://urlhaus.abuse.ch/downloads/hostfile/'
	option format 'hosts'

config source 'emerging_threats'
	option enable '1'
	option name 'Emerging Threats'
	option type 'ip'
	option url 'https://rules.emergingthreats.net/fwrules/emerging-Block-IPs.txt'
	option format 'plain'

config source 'spamhaus_drop'
	option enable '1'
	option name 'Spamhaus DROP'
	option type 'ip'
	option url 'https://www.spamhaus.org/drop/drop.txt'
	option format 'spamhaus'

config source 'malware_domain'
	option enable '1'
	option name 'Malware Domain List'
	option type 'domain'
	option url 'https://hole.cert.pl/domains/domains.txt'
	option format 'plain'

config whitelist
	list ip '127.0.0.1'
	list ip '192.168.0.0/16'
	list ip '10.0.0.0/8'
	list ip '172.16.0.0/12'
	list domain 'localhost'
