config global 'global'
    option enable '0'
    option priority '100'
    option preempt '1'

config vrrp 'vrrp'
    option enable '1'
    option interface 'lan'
    option virtual_router_id '51'
    option auth_pass 'fwxha123'
    list virtual_ip '192.168.1.254/24'

config conntrack 'conntrack'
    option enable '1'
    option sync_interface 'lan'
    option multicast_group '225.0.0.50'

config peer 'peer'
    option enable '0'
    option address '192.168.1.2'
