config global 'global'
	option enable '0'
	option log_enable '1'
	option stats_enable '1'
	option stats_interval '60'

# 应用分类策略
config category 'social'
	option name 'Social Media'
	list apps 'facebook'
	list apps 'twitter'
	list apps 'instagram'
	list apps 'tiktok'
	list apps 'wechat'
	list apps 'whatsapp'
	list apps 'telegram'
	option action 'mark'
	option mark '10'

config category 'streaming'
	option name 'Video Streaming'
	list apps 'youtube'
	list apps 'netflix'
	list apps 'bilibili'
	list apps 'twitch'
	option action 'mark'
	option mark '20'

config category 'gaming'
	option name 'Online Gaming'
	list apps 'steam'
	list apps 'xbox'
	list apps 'playstation'
	list apps 'epicgames'
	option action 'mark'
	option mark '30'

config category 'business'
	option name 'Business Apps'
	list apps 'zoom'
	list apps 'teams'
	list apps 'slack'
	list apps 'skype'
	option action 'accept'
	option priority 'high'

config category 'p2p'
	option name 'P2P/Torrent'
	list apps 'bittorrent'
	list apps 'edonkey'
	option action 'drop'

# 自定义规则
config rule 'block_mining'
	option name 'Block Crypto Mining'
	list apps 'mining'
	list apps 'coinhive'
	option action 'drop'
	option log '1'
