config global 'global'
    option enable '0'

config interface 'wan1'
    option enable '1'
    option name 'Primary WAN'
    option ifname 'wan'
    option weight '3'
    option track_ip '8.8.8.8'

config interface 'wan2'
    option enable '0'
    option name 'Backup WAN'
    option ifname 'wan2'
    option weight '1'
    option track_ip '8.8.4.4'

config policy 'balanced'
    option enable '1'
    option name 'Load Balance'
    option type 'balance'
    list interface 'wan1'
    list interface 'wan2'

config policy 'failover'
    option enable '1'
    option name 'Failover'
    option type 'failover'
    list interface 'wan1'
    list interface 'wan2'
