config global 'global'
    option enable '0'
    option safe_search '0'
    option block_page '0'

config category 'ads'
    option enable '1'
    option name 'Ads'
    option url 'https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts'

config category 'malware'
    option enable '1'
    option name 'Malware'
    option url 'https://urlhaus.abuse.ch/downloads/hostfile/'
