config global 'global'
    option enable '0'

#config tunnel 'site1'
#    option enable '1'
#    option name 'Branch Office'
#    option remote_gateway '203.0.113.1'
#    option local_subnet '192.168.1.0/24'
#    option remote_subnet '192.168.2.0/24'
#    option psk 'your-pre-shared-key'
#    option ike_proposal 'aes256-sha256-modp2048'
#    option esp_proposal 'aes256-sha256'
