# Target: Ramips MT7621
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y

# Image formats
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y

# Build options
CONFIG_DEVEL=y
CONFIG_CCACHE=y

# Luci
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-theme-bootstrap=y

# FWX packages
CONFIG_PACKAGE_fwx=y
CONFIG_PACKAGE_fwxd=y
CONFIG_PACKAGE_fwx-ids=y
CONFIG_PACKAGE_fwx-threat=y
CONFIG_PACKAGE_fwx-qos=y
CONFIG_PACKAGE_fwx-urlfilter=y
CONFIG_PACKAGE_fwx-ddos=y
CONFIG_PACKAGE_fwx-vpn=y
CONFIG_PACKAGE_fwx-vlan=y
CONFIG_PACKAGE_fwx-ipsec=y
CONFIG_PACKAGE_fwx-audit=y
CONFIG_PACKAGE_fwx-reports=y
CONFIG_PACKAGE_fwx-rbac=y
CONFIG_PACKAGE_fwx-api=y
CONFIG_PACKAGE_fwx-sdwan=y
CONFIG_PACKAGE_fwx-ha=y
CONFIG_PACKAGE_libfwx_common=y
CONFIG_PACKAGE_luci-app-fwx=y
CONFIG_PACKAGE_luci-theme-fanchmwrt=y

# Network tools
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_nftables=y

# Wireless
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y
CONFIG_PACKAGE_kmod-mt76=y
