config global 'global'
    option enable '0'
    option download_bandwidth '100000'
    option upload_bandwidth '50000'
    option qdisc 'cake'

config class 'high'
    option name 'High Priority'
    option priority '1'
    option rate '30'

config class 'normal'
    option name 'Normal'
    option priority '2'
    option rate '50'

config class 'low'
    option name 'Low Priority'
    option priority '3'
    option rate '20'
