config global 'global'
	option enable '0'
	option auto_update '1'
	option update_interval '24'
	option log_file '/tmp/log/fwx-av.log'

config scan 'scan'
	option realtime_enable '0'
	option realtime_paths '/tmp/upload /www/upload'
	option max_file_size '25'
	option scan_archives '1'
	option quarantine_path '/etc/fwx/av/quarantine'

config schedule 'schedule'
	option enable '0'
	option scan_path '/tmp'
	option scan_time '03:00'
	option scan_days 'daily'

config action 'action'
	option on_detect 'quarantine'
	option alert_enable '1'
	option email_enable '0'
	option email_to ''
