config global 'global'
	option enable '1'
	option log_level 'info'
	option alert_method 'log'

config portscan 'portscan'
	option enable '1'
	option threshold '20'
	option interval '60'
	option action 'block'
	option block_time '3600'

config synflood 'synflood'
	option enable '1'
	option rate '25'
	option burst '50'
	option action 'drop'

config bruteforce 'bruteforce'
	option enable '1'
	option ssh_enable '1'
	option ssh_max_retry '5'
	option ssh_block_time '3600'
	option web_enable '1'
	option web_max_retry '10'
	option web_block_time '1800'

config icmpflood 'icmpflood'
	option enable '1'
	option rate '10'
	option burst '20'

config suricata 'suricata'
	option enable '0'
	option mode 'ids'
	option interface 'br-lan'
	option rule_update '1'
