config global 'global'
	option enable '0'
	option min_level 'warning'
	option rate_limit '10'
	option aggregate '1'
	option aggregate_interval '5'

config email 'email'
	option enable '0'
	option smtp_server ''
	option smtp_port '587'
	option smtp_security 'starttls'
	option smtp_user ''
	option smtp_pass ''
	option from_addr ''
	option subject_prefix '[FanchMWRT Alert]'

config webhook 'webhook'
	option enable '0'
	option url ''
	option method 'POST'
	option format 'json'
	option timeout '10'
	option verify_ssl '1'
	option telegram_token ''
	option telegram_chat_id ''

config types 'types'
	option threat_ip '1'
	option threat_domain '1'
	option portscan '1'
	option synflood '1'
	option bruteforce '1'
	option malware '1'
	option suricata '1'
