config global 'global'
	option enable '0'
	option mode 'ids'
	option interface 'br-lan'
	option home_net '192.168.1.0/24'
	option log_level 'info'

config performance 'performance'
	option runmode 'autofp'
	option detect_threads '2'
	option stream_memcap '32'
	option flow_memcap '32'

config rules 'rules'
	option et_open '1'
	option et_pro '0'
	option et_pro_code ''
	option snort_community '0'
	option abuse_sslbl '1'
	option custom_rules_url ''

config categories 'categories'
	option malware '1'
	option exploit '1'
	option scan '1'
	option dos '1'
	option web_attack '1'
	option trojan '1'
	option botnet '1'
	option policy '0'

config eve 'eve'
	option enable '1'
	option log_path '/tmp/log/suricata/eve.json'
	option log_alerts '1'
	option log_dns '1'
	option log_http '1'
	option log_tls '1'
	option log_flow '0'
	option log_stats '1'
