config global 'global'
	option enable '1'
	option eve_log_path '/tmp/log/suricata/eve.json'
	option stats_interval '60'
	option retention_days '7'

config protocols 'protocols'
	option dns_stats '1'
	option http_stats '1'
	option tls_stats '1'
	option flow_stats '1'

config topn 'topn'
	option top_count '10'
	option top_talkers '1'
	option top_domains '1'
	option top_ports '1'
	option top_apps '1'

config anomaly 'anomaly'
	option enable '0'
	option baseline_days '7'
	option threshold '200'
	option alert_bandwidth '1'
	option alert_connections '1'
	option alert_dns '1'
