config global 'global'
    option enable '1'

config role 'admin'
    option name 'Administrator'
    list permission 'all'

config role 'security_admin'
    option name 'Security Admin'
    list permission 'ids'
    list permission 'threat'
    list permission 'ddos'

config role 'network_admin'
    option name 'Network Admin'
    list permission 'vlan'
    list permission 'vpn'
    list permission 'qos'

config role 'monitor'
    option name 'Monitor'
    list permission 'dashboard'
    list permission 'reports'
